*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: "Poppins";
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 15px;
    color: #fff;
    background-color: #b96767;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 17px;
    font-size: 17px;
    cursor: pointer;
}
nav li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
nav li a:hover{
    color: #c02f2f;
} 
 .content{
    text-align: center;
}
.content h1{
    font-size: 55px;
    color: #b96767;
    margin-bottom: 1.5rem;

}
.content p{
    margin-bottom: 3rem;
    font-size: 17px;
    color: #fff;
}
.content a{
    font-size: 15px;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border: 2px solid #b96767;
    border-radius: 10rem;
    cursor: pointer;
}
.content a:hover{
    background-color: #b96767;
} 
.bg{
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: -1;
}